<div class="row">
    <div class="col-md-12">
        <br />
        <button class="btn btn-success pull-right" ng-click="openStory()">Add Story</button>
        <button class="btn btn-info pull-left" ng-click="openSprintPanel()">View Sprints</button>
        <br />
    </div>
</div>
<div class="row">
    <div>
        <!--<table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Points</th>
                    <th>States</th>
                    <th></th>
                </tr>
            </thead>
            <tbody dnd-list="stories">

                <tr ng-repeat="story in stories"
                     dnd-draggable="item"
                     dnd-moved="storyMoved()"
                     dnd-effect-allowed="move"
                    >
                    <td>S-{{story.StoryID}}</td>
                    <td>{{story.Name}}</td>
                    <td>{{story.Points}}</td>
                    <td>Placeholder for story state</td>

                    <td><a ng-click="openStory(story)">More Details</a></td>
                </tr>
            </tbody>
        </table>-->
        <div class="panel panel-info" style="margin-top: 10px">
            <div class="panel-heading">
                <h3 class="panel-title">Backlog Stories</h3>
            </div>
            <div class="panel-body">
                <ul dnd-list="stories">
                    <li ng-repeat="story in stories"
                        dnd-draggable="story"
                        dnd-moved="storyMoved($index, stories)"
                        dnd-effect-allowed="move"
                        dnd-selected="openStory(story)">
                        <span style="padding-right:5em">S-{{story.StoryID}}</span>
                        <b>{{story.Name}}</b>
                        <span class="badge pull-right">{{story.Points}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Directive for slide out-->
    <div pageslide ps-open="sidePanelOpen" ps-side="right" ps-squeeze="true" ps-cloak="false" ps-size="500px">
        <div style="padding:20px;">
            <button class="btn btn-danger" ng-click="closePanel()">Close</button>
            <h3 editable-text="currentOpenStory.Name">{{ currentOpenStory.Name || 'Enter Story Name' }}</h3>
            <b>Details:</b><br />
            <a editable-textarea="currentOpenStory.Description" e-rows="5" e-cols="50"><pre>{{currentOpenStory.Description || 'Enter Description'}}</pre></a>
            <br />
            <b>Acceptance Criteria:</b><br />
            <a editable-textarea="currentOpenStory.AcceptanceCriteria" e-rows="5" e-cols="50"><pre>{{currentOpenStory.AcceptanceCriteria || 'Enter Acceptance Criteria' }}</pre></a>
            <br />
            <b>Points:</b><br />
            <p editable-number="currentOpenStory.Points">{{currentOpenStory.Points || 'Enter Story Points' }}</p>
            <br />
            <b>Owner:</b> <br />
            <select ng-model="currentOpenStory.OwnerID" ng-options="u.UserID as u.Username for u in teamUsers" class="form-control"></select>
            <!--<p editable-select="currentOpenStory.OwnerID" e-ng-options="u.UserID as u.Username for u in teamUsers">{{ showCurrentOwner(currentOpenStory.OwnerID) }}</p>-->
            <br />
            <b>Blocked:</b> <input type="checkbox" ng-model="currentOpenStory.Blocked" ng-true-value="'Y'" ng-false-value="'N'" />
            <div ng-if="currentOpenStory.Blocked === 'Y'">
                <a editable-textarea="currentOpenStory.BlockedText" e-rows="5" e-cols="50"><pre>{{currentOpenStory.BlockedText || 'Enter description of what is blocking the story'}}</pre></a>
            </div>
            <button class="btn btn-success btn-lg" ng-click="saveChanges()">Save Changes</button>

        </div>
    </div>

    <div pageslide ps-open="sprintPanelOpen" ps-side="left" ps-squeeze="true" ps-size="500px">
        <div style="padding:20px">
            <div style="padding-bottom: 10px">
                <div class="btn btn-danger" ng-click="closeSprintPanel()">Close</div>
                <div class="pull-right btn btn-success" ng-click="openAddSprint()">Add Sprint</div>
            </div>
            <!--Begin Sprint Panels-->
            <div class="panel panel-info" ng-repeat="sprint in sprints">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="#/SprintWall/{{sprint.SprintID}}"><b>Sprint {{$index + 1}}</b> {{sprint.StartDate.substr(0,10).replace("-", "/").replace("-", "/")}}-{{sprint.EndDate.substr(0,10).replace("-", "/").replace("-", "/")}}</a></h3>
                </div>
                <div class="panel-body">
                    <ul dnd-list="sprint.Stories">
                        <li ng-repeat="story in sprint.Stories"
                            dnd-draggable="story"
                            dnd-moved="storyMoved($index, sprint.Stories)"
                            dnd-effect-allowed="move"
                            dnd-selected="openStory(story)">
                            <span style="padding-right:5em">S-{{story.StoryID}}</span>
                            <b>{{story.Name}}</b>
                            <span class="badge pull-right">{{story.Points}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!--./End Sprint Panels-->
        </div>
    </div>
</div>
<script type="text/ng-template" id="addSprint.html">
    <div class="modal-header">
        <h3 class="modal-title">Add a new sprint</h3>
    </div>
    <div class="modal-body">
        <table>
            <tr>
                <td><label>Start Date</label></td>
                <td><input type="date" ng-model="startDate" /></td>
            </tr>
            <tr>
                <td>End Date</td>
                <td><input type="date" ng-model="endDate" /></td>
            </tr>
            <tr>
                <td>Sprint Goals</td>
                <td><textarea ng-model="sprintGoals"></textarea></td>
            </tr>
            <tr>
                <td>Definition of Done</td>
                <td><textarea ng-model="definitionOfDone"></textarea></td>
            </tr>
        </table>
            
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="addSprint()">Add</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</script>

<style>
    .ng-pageslide {
        background: #eee;
        padding-top: 55px;
        width: 500px;
    }

    body.ng-pageslide-body-open::before {
        content: '.';
        display: block;
        position: absolute;
        top: 0;
        background-color: rgb(0,0,0);
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: 0.5;
        transition: opacity 1s;
    }

    body.ng-pageslide-body-closed::before {
        transition: opacity 1s;
        opacity: 0;
        content: '.';
        display: block;
        position: absolute;
        top: 0;
        background-color: rgb(0,0,0);
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        pointer-events: none;
    }
</style>


<style>
       /**
    * For the correct positioning of the placeholder element, the dnd-list and
    * it's children must have position: relative
    */
       ul[dnd-list],
       ul[dnd-list] > li {
           position: relative;
       }

       /**
    * The dnd-list should always have a min-height,
    * otherwise you can't drop to it once it's empty
    */
       ul[dnd-list] {
           min-height: 42px;
           padding-left: 0px;
       }

           /**
    * The dndDraggingSource class will be applied to
    * the source element of a drag operation. It makes
    * sense to hide it to give the user the feeling
    * that he's actually moving it.
    */
           ul[dnd-list] .dndDraggingSource {
               display: none;
           }

           /**
    * An element with .dndPlaceholder class will be
    * added to the dnd-list while the user is dragging
    * over it.
    */
           ul[dnd-list] .dndPlaceholder {
               display: block;
               background-color: #ddd;
               min-height: 42px;
           }

           /**
    * The dnd-lists's child elements currently MUST have
    * position: relative. Otherwise we can not determine
    * whether the mouse pointer is in the upper or lower
    * half of the element we are dragging over. In other
    * browsers we can use event.offsetY for this.
    */
           ul[dnd-list] li {
               background-color: #fff;
               border: 1px solid #ddd;
               border-top-right-radius: 4px;
               border-top-left-radius: 4px;
               display: block;
               padding: 10px 15px;
               margin-bottom: -1px;
           }

               /**
    * Show selected elements in green
    */
               ul[dnd-list] li.selected {
                   background-color: #dff0d8;
                   color: #3c763d;
               }
</style>