<!DOCTYPE html>
<html ng-app="AgileMadeSimple">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AgileMadeSimple</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/angular-xeditable/dist/css/xeditable.min.css" />
    <link rel="stylesheet" href="~/lib/ng-sortable/dist/ng-sortable.min.css" />

    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/angular-animate/angular-animate.min.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/ng-pageslide/src/angular-pageslide-directive.js"></script>
    <script src="~/lib/angular-xeditable/dist/js/xeditable.min.js"></script>
    <script src="~/lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>


</head>
<body ng-controller="AgileMadeSimpleController">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Agile Made Simple</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li ng-if="User === null"><a href="#/Registration">Register</a></li>
                    <li ng-if="User === null"><a href="#/Login">Login</a></li>

                    <li ng-if="User !== null"><a href="#/TeamOptions">Team</a></li>
                    <li ng-if="User !== null"><a href="#/EnterprisePlanning">Projects</a></li>
                    
                    <!--Project level navigation--
                    <li ng-if="User !== null && ProjectID != null"><a href="#/Backlog/{{ProjectID}}">Project Planning</a></li>
                    <li ng-if="User !== null && ProjectID != null && CurrentSprintID != null"><a href="#/SprintWall/{{CurrentSprintID}}">Current Sprint Wall</a></li>-->

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="User !== null"><a>{{User.Username}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div ng-view></div>
        <hr />
        <footer>
            <p>&copy; 2015 - AgileMadeSimple</p>
        </footer>
    </div>

    <script src="~/app/app.js"></script>
    <script src="~/app/User/User.js"></script>
    <script src="~/app/EnterprisePlanning/EnterprisePlanning.js"></script>
    <script src="~/app/ProjectPlanning/Backlog.js"></script>
    <script src="~/app/SprintWall/sprintwall.js"></script>
    <script src="~/app/Team/teamoptions.js"></script>
</body>
</html>