<table class="table table-striped" style="clear: both; align-self: ">
    <tr>
        <th>Story</th>
        <th>Task</th>
        <th>Total Hours</th>
        <th>Hours Remaining</th>
        <th>Owner</th>
        <th>Tags</th>
    </tr>
    <tbody>
        <tr ng-repeat-start="story in Sprint.Story">
            <td ng-click="openSidePanel(story, 'story')">{{story.Name}} <div class="badge" style="margin-left: 25px">{{story.Points}}</div></td>
            <td><button class="btn btn-sm btn-success" ng-click="openSidePanel(null, 'task', story.StoryID)">Add Task</button></td>
            <td ng-click="openSidePanel(story, 'story')"></td>
            <td ng-click="openSidePanel(story, 'story')"></td>
            <td ng-click="openSidePanel(story, 'story')">Owner</td>
            <td ng-click="openSidePanel(story, 'story')">Tags</td>
        </tr>
        <tr ng-repeat="task in story.Task" ng-click="openSidePanel(task, 'task', story.StoryID)">
            <td></td>
            <td>{{task.Name}}</td>
            <td>{{task.TotalHours}}</td>
            <td>{{task.ToDoHours}}</td>
            <td>Owner</td>
            <td>Tags</td>
        </tr>
        <tr ng-repeat-end=""></tr>
    <tbody>
</table>

<div pageslide ps-open="sidePanelOpen" ps-side="right" ps-squeeze="true" ps-cloak="false" ps-size="500px">
    <div style="padding:20px;">
        <div ng-if="sidePanelType=='story'">
            <button class="btn btn-danger" ng-click="closeSidePanel()">Close</button>
            <h3 editable-text="sidePanelScope.Name">{{ sidePanelScope.Name || 'Enter Story Name' }}</h3>
            <b>Details:</b><br />
            <a editable-textarea="sidePanelScope.Description" e-rows="5" e-cols="50"><pre>{{sidePanelScope.Description || 'Enter Description'}}</pre></a>
            <br />
            <b>Acceptance Criteria:</b><br />
            <a editable-textarea="sidePanelScope.AcceptanceCriteria" e-rows="5" e-cols="50"><pre>{{sidePanelScope.AcceptanceCriteria || 'Enter Acceptance Criteria' }}</pre></a>
            <br />
            <b>Points:</b><br />
            <p editable-number="sidePanelScope.Points">{{sidePanelScope.Points || 'Enter Story Points' }}</p>
            <br />
            <b>Owner:</b> <br />
            <p editable-select="sidePanelScope.OwnerID" e-ng-options="u.UserID as u.Username for u in teamUsers">{{ sidePanelScope.OwnerID || 'Select the story Owner'}}</p>
            <br />
            <b>Blocked:</b> <input type="checkbox" ng-model="sidePanelScope.Blocked" ng-true-value="'Y'" ng-false-value="'N'" />
            <div ng-if="sidePanelScope.Blocked === 'Y'">
                <a editable-textarea="sidePanelScope.BlockedText" e-rows="5" e-cols="50"><pre>{{sidePanelScope.BlockedText || 'Enter description of what is blocking the story'}}</pre></a>
            </div>
            <br />
            <button class="btn btn-success btn-lg" ng-click="saveChanges()">Save Changes</button>
        </div>
        <div ng-if="sidePanelType=='task'">
            <button class="btn btn-danger" ng-click="closeSidePanel()">Close</button>
            <h3 editable-text="sidePanelScope.Name">{{ sidePanelScope.Name || 'Enter Task Name' }}</h3>
            <b>Details:</b><br />
            <a editable-textarea="sidePanelScope.Description" e-rows="5" e-cols="50"><pre>{{sidePanelScope.Description || 'Enter Description'}}</pre></a>
            <br />
            <b>Total Hours:</b><br />
            <p editable-number="sidePanelScope.TotalHours">{{sidePanelScope.TotalHours || 'Enter Total Hours' }}</p>
            <br />
            <b>To Do Hours:</b><br />
            <p editable-number="sidePanelScope.ToDoHours">{{sidePanelScope.ToDoHours || 'Enter To Do Hours' }}</p>
            <br />
            <b>Owner:</b> <br />
            <p editable-select="sidePanelScope.OwnerID" e-ng-options="u.UserID as u.Username for u in teamUsers">{{ sidePanelScope.OwnerID || 'Select the story Owner'}}</p>
            <br />
            <b>Blocked:</b> <input type="checkbox" ng-model="sidePanelScope.Blocked" ng-true-value="'Y'" ng-false-value="'N'" />
            <div ng-if="sidePanelScope.Blocked === 'Y'">
                <a editable-textarea="sidePanelScope.BlockedText" e-rows="5" e-cols="50"><pre>{{sidePanelScope.BlockedText || 'Enter description of what is blocking the story'}}</pre></a>
            </div>
            <br />
            <button class="btn btn-success btn-lg" ng-click="saveChanges()">Save Changes</button>
        </div>
    </div>
</div>

<style>
    .ng-pageslide {
        background: #eee;
        padding-top: 55px;
        width: 500px;
    }

    body.ng-pageslide-body-open::before {
        content: '.';
        display: block;
        position: absolute;
        top: 0;
        background-color: rgb(0,0,0);
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: 0.5;
        transition: opacity 1s;
    }

    body.ng-pageslide-body-closed::before {
        transition: opacity 1s;
        opacity: 0;
        content: '.';
        display: block;
        position: absolute;
        top: 0;
        background-color: rgb(0,0,0);
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        pointer-events: none;
    }
</style>