<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Epic Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="epic in epics">
                        <td>{{epic.Name}}</td>
                        <td><a href="#/Backlog/{{epic.EpicID}}">Open Project Planning</a></td>
                        <td><a href="#/Taskboard/">Open Current Sprint</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 col-sm-12">
            <div id="addNewProject">
                <button class="btn btn-lg btn-success center-block" style="margin-top: 25px" ng-click="openAddProjectModal()"><span class="glyphicon glyphicon-plus-sign"></span> <br />Add New Project</button>
            </div>
        </div>
    </div><!--
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">Add and delete project states here.  Please note if there is a project in a state, you will be unable to delete it</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="state in states">
                        <td>{{state.Name}}</td>
                        <td><span ng-click="deleteState(state.StateID)" class="glyphicon glyphicon-trash"></span></td>
                    </tr>
                    <tr>
                        <td><input type="text" class="form-control" ng-model="newStateName" /></td>
                        <td><span class="glyphicon glyphicon-plus" ng-click="addState()"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>-->
</div>

<script type="text/ng-template" id="addProjectModal.html">
    <div class="modal-header">
        Add New Project
    </div>
    <div class="modal-body">
        <input class="form-control" type="text" placeholder="Project Name" ng-model="name" />
        <input class="form-control" type="text" placeholder="Description" ng-model="description" />
        <select ng-model="teamId">
            <option ng-repeat="team in teams" value="{{team.TeamID}}">{{team.Name}}</option>
        </select>
        <!--TODO add team selection-->
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" ng-click="create()">Add</button>
        <button class="btn btn-sm btn-default" ng-click="close()">Close</button>
    </div>
</script>

<style>
    #addNewProject{
      
    }
</style>