<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
        <h2>Register an Account</h2>
        <hr class="bg-primary"/>
        <input class="form-control" type="text" placeholder="Username" ng-model="username"/>
        <input class="form-control" type="password" placeholder="Password" ng-model="password" />
        <input class="form-control" type="password" placeholder="Confirm Password" ng-model="confirmPassword" />
        <input class="form-control" type="text" placeholder="Email" ng-model="email" />
        <input class="form-control" type="text" placeholder="Name" ng-model="name" />
        <hr class="bg-primary" />
        <button class="btn btn-primary btn-sm" ng-click="register()">Register</button>
    </div>
</div>